.dual-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    width: 100%;
    height: 10px;
}

.slider__track {
    position: relative;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #6ce151, #FFD700);
    border-radius: 6px;
}

.slider__thumb {
    position: absolute; /* Keep absolute positioning */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    top: -50%;  /* Move it to the middle */

}

.slider__thumb.left {
    background-color: #6ce151;
}

.slider__thumb.right {
    background-color: #FFD700;
}
