.todoschedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 100px;
  border: 2px solid #FFD700;
}

.todoschedule table {
    border-collapse: separate;
    border-spacing: 25px;
  }
  